.cardtitle {
    font-size: 18px;
    font-weight: bold;
    color: #014dff; /* Color del texto personalizado */
    align-items: center;
    display: inline-flex;
    gap: 1rem;
  }
  .contenttitle {
    font-weight: bold;
    color:white;
    padding-top: 1rem;
  }
  .cardcontent {
    padding-left: 1rem;
  }

  .fav-button {
    text-align: right;
    overflow: hidden;
  }

  .trash-button {
    color: #808080
  }

