
      
  <ion-card [routerLink]="['/welcome']">
   
      <ion-card-header>
        <ion-card-title class="cardtitle">
          <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        {{user?.nombre | titlecase}} 
        {{user?.apellidos | uppercase | slice:0:1}}
      </ion-card-title>
        
      </ion-card-header>
    
      <ion-card-content>
        <div class="contenttitle">Nombre</div>
        <div class="cardcontent">{{user?.nombre}}</div>
        <div class="contenttitle">Apellidos</div>
        <div class="cardcontent">{{user?.apellidos}}</div>
        <div class="contenttitle">Edad</div>
        <div class="cardcontent">{{user?.edad}} años</div>

      </ion-card-content>
    </ion-card>

    
